{% extends 'base.html' %} 
{% block title %}Projects | {{ author_name }}{% endblock %} 
{% block content %}
<h2 class="fw-bold mb-4"><span class="accent-text">02.</span> Projects</h2>
<div class="projects-grid">
  {% for project in projects %}

  <div class="project-card {% if project.is_featured %}featured{% endif %}">
    <h2>{{project.name}}</h2>

    {% if project.is_featured %}
    <span class="badge">Featured</span>
    {% endif %}
    <p>{{project.description}}</p>
    <p><strong>Tech:</strong>{{project.tech_stack}}</p>

    <div class="links">
      {%if project.github_url %}
      <a href="{{project.github_url}}" target="_blank">Github</a>
      {% endif %} {%if project.live_url %}
      <a href="{{project.live_url}}" target="_blank">Live demo</a>
      {% endif %}
    </div>
  </div>
  {% empty %}
  <p>No projects yet.</p>
  {% endfor %}
</div>
{% endblock %}
